*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 300px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #17372e;
    color: #e9f0e9;
}

a{
    color: #e9f0e9;
    text-decoration: none;
}

.links{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}